body {
	font-family: tahoma;
	font-sie: 10pt;
	background-color: #1c1c1c;
	color: #fff;
}

p {
	color: #d1d0cf;
}

pre {
	font-size: 1.1em;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
	font-size: 1.1em;
	color: #daedf7;
}

#token-err {
	color: dd0000;
}
